<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/txclient.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='zaab.css') }}" rel="stylesheet">
    <style type="text/css">
      span.lang { color: #000000; background-color: #F0F7F0; }
      .edit { padding: 2px 3px; border-bottom: 1px dotted transparent; }
      .edit:hover { cursor: text; border-bottom: 1px dotted #bbb; }
      .res-row:hover { background-color: #F5F5F5; 
      }
    </style>
    
    <script type="text/javascript">
      var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script >
    function toggle(source) {
	    checkboxes = document.getElementsByName('name');
	    for(var i in checkboxes)
	    checkboxes[i].checked = source.checked;
	}
    </script>

  </head>
  <body>
  <!-- header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="https://www.transifex.com/"><img src="{{ url_for('static', filename='img/tx-logo-whiteorange.png') }}" /></a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://www.transifex.com/home/">Dashboard on Transifex</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Client</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


<div class="cols">
        <section class="first col">
            <header>
            	<h1>Resource Files</h1>
            </header>
            
            <div id="access" >
            <ul id="playlist">
            {% for res in res_list %}
            <div  id="tr_{{ res.id }}">
		    <li>&nbsp;&nbsp;&nbsp;&nbsp;<span data-action='rename' class="resname edit" id="{{ res.id }}">{{ res.id }}</span>&nbsp;&nbsp;

        		<span class="edit resexpr" data-id="{{ res.id }}">{{ res.expr_highlight|safe }}</span></dd>&nbsp;&nbsp;
			<button type="submit" onclick=onClick("{{ res.id }}") id="pickMe" class="btn" style="float:right;padding=0"  value="Select" name="{{ res.id }}"><i class="icon-arrow-right"></i>  </button>
			</li>
			</div><br ></br>        	
        	{% endfor %}
        	</div>		
        	</ul>
        	<BR></BR>
		<button type="submit" class="btn push-action btn-danger" id="back" onClick="location.href='http://localhost:5000/tx/index/'" value="Project select" ><i class="icon-arrow-left icon-white" ></i> Back to projects</button>
        </section>        
        <section class="col">
            <header>
            	<h1>Server Statistics</h1>
            </header>
            <br></br>
	        <input type="checkbox" id="optionsCheckbox" value="option1" onClick="toggle(this)"><label>&nbsp;&nbsp;Select all </label><br ></br>
		<div id="stats"></div>
		
		<div id="buttons">
			<label>With selected:&nbsp;&nbsp;</label><br>
			<br></br>
			<button type="submit" id="pull" class="btn push-action" rel="tooltip" data-original-title="Pull all languages, including source" ><i class="icon-download"></i> Pull translations</button>
			<button type="submit" id="push" class="btn push-action btn-danger" rel="tooltip" data-original-title="push all languages except source">
				<i class="icon-upload icon-white"></i> Push source</button>
		</div>	
        </section>
     </div>
      <div class="row span12">
      <hr>
      <footer >
        <p>&copy; <a href="https://www.transifex.com/">Transifex</a> 2012 • <a href="http://help.transifex.com/features/client/">Transifex Client</a> v{{ txc_version }}</p>
      </footer>
      </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.jeditable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/txclient.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.4.2') }}"></script>
  </body>
</html>
